table.game {
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 4px;

  &.is-small {
    border-spacing: 4px;

    td {
      padding: 15px;
    }
  }

  &.is-tiny {
    border-spacing: 0px;
    border: 0px;

    td {
      padding: 8px;
    }
  }

  &.is-micro {
    border-spacing: 0px;
    border-collapse: collapse;
    border: 0px;

    td {
      padding: 4px;

      &:before {
        border-width: 1px !important;
      }
    }
  }
}

table.game td {
  border: 1px solid white;
  padding: 20px;
  position: relative;

  &.base {
    background-color: rgba(0,0,0,0.1);
    background-image: url(../tiles/white.png);
    background-size: 100% 100%;
  }

  &.yellow {
    background-color: #fcf5a7;
    background-image: url(../tiles/yellow.png);
    background-size: 100% 100%;
  }

  &.green {
    background-color: #c9f7c6;
    background-image: url(../tiles/green.png);
    background-size: 100% 100%;
  }

  &.brown {
    background-color: #e0ba77;
    background-image: url(../tiles/brown.png);
    background-size: 100% 100%;
  }

  &.blue {
    background-color: #aae1fa;
    background-image: url(../tiles/blue.png);
    background-size: 100% 100%;
  }

  &.used {
    background-image: url(../tiles/used.png);
    background-size: 100% 100%;
  }

  &.white {
    background-color: #eee;
  }

  &.protected {
    &:before {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border: 3px solid #6de86d;
    }
  }
}

.shiny-red {
  background: linear-gradient(45deg, #ff9955 65%, #ff5555) !important;
}

.shiny-gold {
  background: linear-gradient(45deg, #d4af37, gold) !important;
}

.shiny-blue {
  background: linear-gradient(135deg, #2a8ee0 75%, #87bcea) !important;
}

.shiny-green {
  background: linear-gradient(225deg, #6de86d 75%, #ddffee) !important;
}

.has-border-success {
  border: 2px solid #48c78e;
  position: relative;
}
